<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>SampleApp</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1038.36">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Courier}
  </style>
</head>
<body>
<p class="p1">&lt;h1&gt;About Us&lt;/h1&gt;</p>
<p class="p1">&lt;p&gt;</p>
<p class="p1"><span class="Apple-converted-space">  </span>&lt;a href="http://railstutorial.org/"&gt;Ruby on Rails Tutorial&lt;/a&gt;</p>
<p class="p1"><span class="Apple-converted-space">  </span>is a project to make a book and screencasts to teach web development</p>
<p class="p1"><span class="Apple-converted-space">  </span>with &lt;a href="http://rubyonrails.org/"&gt;Ruby on Rails&lt;/a&gt;. This</p>
<p class="p1"><span class="Apple-converted-space">  </span>is the sample application for the tutorial.</p>
<p class="p1">&lt;/p&gt;</p>
</body>
</html>
